/* 
======================================
Articles styles
======================================
*/

.article-thumbnail-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: auto;
  transition: all 250ms ease-out;

  .article-thumbnail-image-container {
    overflow: hidden;
    height: 300px;

    img {
      transition: transform 300ms ease-out;
      width: 100%;
    }
  }

  h2 {
    margin: 15px 20px;
  }

  p {
    margin: 0 10px 20px 20px;
  }

  .article-thumbnail-meta {
    color: #707070;
    font-size: 15px;
  }
}

.article-thumbnail-container:hover {

  img {
    transform: scale(1.05);
  }

  p {
    color: black;
  }
}
