/*
======================================
Base styles
======================================
*/

// other variables

$large-dark-shadow: 0 15px 50px -25px black;

//base styles

body {
  background-color: $body-background-color;
  color: $body-text-color;
  font-family: $body-font-family;
  font-size: 19px;
  font-weight: 400;
  height: 100vh;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.content_wrapper {
  display: flex;
  margin: 150px auto 75px auto;
  position: inherit;
  width: 90vw;
}

main {
  width: 100%;

  a, a:visited {
    background-color: whitesmoke;
    color: $link-color;
    font-weight: 500;
    padding: 3px 9px;
    text-decoration: none;
    transition: all 100ms;
  }

  a:hover {
    color: $link-color-hover;
  }

  a:active {
    color: $link-color-active;
  }
}

hr {
  border: solid 1px $border-color;
  width: 90%;
}

.subheader {
  max-width: 500px;
}

.the_stage {
  background-color: white;
  border-radius: 10px;
  box-shadow: $large-dark-shadow;
  display: flex;
  margin: 50px auto;
  min-height: 200px;
  padding: 50px;
  width: 75%;
}

.author_snippet {
  display: block;
  margin: 50px auto;
  max-width: 600px;

  img {
    border-radius: 100%;
    float: left;
    margin-right: 25px;
    width: 100px;
  }

  p {
    color: $secondary-color;
  }
}

li {
  counter-increment: li
}

ul {
  list-style: none;

  li::before {
    color: $tertiary-color;
    content: " \25E6";
    font-size: 25px;
    line-height: 0.75;
    padding-right: 10px;
  }
}

ol {
  counter-reset: item;
}

ol li {
  display: block;
}

ol li:before {
  color: red;
  content: counter(item) ".";
  counter-increment: item;
}

.rounded-image {
  border-radius: 100%;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.no-bullets {
  list-style-type: none;
}
