// other variables

$large-dark-shadow: 0 15px 50px -25px black;

//base styles

body {
  background-color: $body-background-color;
  color: $body-text-color;
  font-family: $body-font-family;
  font-size: 19px;
  font-weight: 400;
  height: 100vh;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.content_wrapper {
  display: flex;
  position: inherit;
  margin: 150px auto 75px auto;
  width: 90vw;
}

main {
  width: 100%;

  a, a:visited {
    background-color: whitesmoke;
    color: $link-color;
    font-weight: 500;
    padding: 3px 9px;
    transition: all 100ms;
    text-decoration: none;
  }

  a:hover {
    color: $link-color-hover;
  }

  a:active {
    color: $link-color-active;
  }
}

hr {
  border: solid 1px $border-color;
  width: 90%;
}

.subheader {
  max-width: 500px;
}

.the_stage {
  background-color: white;
  border-radius: 10px;
  box-shadow: $large-dark-shadow;
  display: flex;
  margin: 50px auto;
  min-height: 200px;
  padding: 50px;
  width: 75%;
}

.author_snippet {
  display: block;
  margin: 50px auto;
  max-width: 600px;

  img {
    border-radius: 100%;
    float: left;
    margin-right: 25px;
  }

  p {
    color: $secondary-color;
  }
}

li {
  counter-increment: li
}

ul {
  list-style: none;

  li::before {
    content: " \25E6";
    color: $tertiary-color;
    font-size: 25px;
    line-height: 0.75;
    padding-right: 10px;
  }
}

ol {
  counter-reset: item;
}

ol li {
  display: block;
}

ol li:before {
  color: red;
  content: counter(item) ".";
  counter-increment: item;
}

figure {
  background-color: $filled-box-color;
  max-width: 600px;
  padding: 20px 20px 0 20px;

  img {
    margin: 0 auto;
    max-width: 100%;
  }

  figcaption {
    font-size: 14px;
    color: $secondary-color;
    padding: 10px 0;
  }

  i {
    color: #c5c5c5;
    margin-right: 15px;
  }
}
