.primary-button {
  display: inline-block;
  background-color: darken( $tertiary-color, 5% );
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 17px;
  text-transform: uppercase;
  font-family: $body-font-family;
  padding: 15px 25px;
  cursor: pointer;
  box-shadow: 0 4px 10px -5px black;
  transition: color 250ms ease, 
              background-color 250ms ease, 
              box-shadow 250ms ease,
              transform 150ms ease;
}

.primary-button:hover {
  background-color: darken( $tertiary-color, 10% );
  box-shadow: 0 4px 20px -5px black;
  transform: scale(1.01);
}

.primary-button:active {
  background-color: darken( $tertiary-color, 15% );
  box-shadow: 0 4px 10px -5px black;
  transform: scale(1);
}

.primary-button:focus {
  outline: 0;
}