/*
======================================
Colors styles
======================================
*/

//Base color variables
$primary-color: #333333;
$secondary-color: #707070;
$tertiary-color: #ff5733;

//Color variables
$body-background-color: white;
$body-text-color: $primary-color;
$filled-box-color: lighten( $secondary-color, 50% );
$border-color: #e0e0e0;
$main-nav-background-color: transparentize( white, .02 );
$styleguide-grid-container-background-color: $tertiary-color;

$heading-text-color: $primary-color;
$meta-text-color: $secondary-color;
$link-color: $primary-color;
$link-color-hover: $tertiary-color;
$link-color-active: $tertiary-color;
$main-nav-link: darken( $primary-color, 20% );
$main-nav-link-hover: $tertiary-color;
$main-nav-link-active: $tertiary-color;
$primary-button-color: $tertiary-color;
$primary-button-hover-color: darken( $primary-button-color, 20% );
$primary-button-active-color: darken( $primary-button-color, 10% );
$secondary-button-border-color: $tertiary-color;
$secondary-button-text-color: $tertiary-color;
$secondary-button-hover-color: $tertiary-color;
$secondary-button-text-hover-color: lighten( $tertiary-color, 50% );



//styles for color palettes section of style guide
.color_swatches {
  background-color: white;
  border-radius: 5px;
  display: flex;
  height: 30px;
  margin: 0 0 25px 0;
  overflow: hidden;
  width: 400px;
}

.color_swatch_primary-color {
  background-color: $primary-color;
  width: 25%;
}

.color_swatch_secondary-color {
  background-color: $secondary-color;
  width: 25%;
}

.color_swatch_filled-box-color {
  background-color: $filled-box-color;
  width: 25%;
}

.color_swatch_tertiary-color {
  background-color: $tertiary-color;
  width: 25%;
}

.color-data {
  display: flex;
  margin: 50px 0;

  .color_swatch_primary-color,
  .color_swatch_secondary-color,
  .color_swatch_tertiary-color,
  .color_swatch_filled-box-color {
    border-radius: 5px;
    max-width: 70px;
  }

  .meta-text {
    margin: 0 10px 0 30px;
  }
}

.text-tertiary {
  color: $tertiary-color;
}
