/*
======================================
Content pages styles
======================================
*/

#aside-project-summary-block, #aside-article-summary-block {

  h2 {
    font-size: 2rem;
  }

  h4 {
    margin: 0;
  }

  img {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  p {
    font-size: 14px;
    font-weight: 400;
  }
}

article {

  img {
    width: 100%;
  }
}
