/*
======================================
CTA styles
======================================
*/

.cta-container {
  background-color: black;
  font-size: 25px;
  height: 300px;

  .column {
    margin: 0;
    padding: 0;
  }
}

.cta-left {
  align-items: center;
  background-image: url("/assets/images/work-office.jpg");
  background-position: bottom center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  overflow: hidden;
  transition: all 250ms ease;
}

.cta-right {
  align-items: center;
  background-color: blue;
  background-image: url("/assets/images/home-office.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  overflow: hidden;
  transition: all 250ms ease;
}

.cta-left:hover, .cta-right:hover {
  opacity: .8;
}
