#cta-container {
  background-color: black;
  height: 300px;
  color: black;
  font-size: 25px;

  .columns {
    padding: 0;
    margin: 0;
  }
}

#cta-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: red;
  height: 300px;
  overflow: hidden;
  background-image: url("http://gsargent.info/assets/images/work-office.jpg");
  background-size: cover;
  background-position: bottom center;
  transition: all 250ms ease;
}

#cta-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: blue;
  height: 300px;
  overflow: hidden;
  background-image: url("http://gsargent.info/assets/images/home-office.jpg");
  background-size: cover;
  transition: all 250ms ease;
}

#cta-left:hover, #cta-right:hover {
  opacity: .8;
  transform: scale(10%);
}
