.cta-container {
  background-color: black;
  color: black;
  font-size: 25px;
  height: 300px;

  .column {
    margin: 0px !important;
    padding: 0px !important;
  }
}

.cta-left {
  align-items: center;
  background-image: url("http://gsargent.info/assets/images/work-office.jpg");
  background-position: bottom center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  overflow: hidden;
  transition: all 250ms ease;
}

.cta-right {
  align-items: center;
  background-color: blue;
  background-image: url("http://gsargent.info/assets/images/home-office.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  overflow: hidden;
  transition: all 250ms ease;
}

.cta-left:hover, .cta-right:hover {
  opacity: .8;
  transform: scale(10%);
}
