/*
======================================
Footer styles
======================================
*/

footer {
  background-color: whitesmoke;
  display: flex;
  font-size: 14px;
  padding: 50px;

  ul {
    display: flex;
    padding-left: 0;

    li:before {
      content: '';
    }
  }

  a, a:visited {
    background: none;
    color: $main-nav-link;
    text-decoration: none;
    transition: color .25s ease;
  }

  a:hover {
    color: $main-nav-link-hover;
  }

  a:active {
    color: $main-nav-link-active;
  }
}

.footer-left-column {
  width: 70%;
}

.footer-right-column {
  display: flex;
  justify-content: flex-end;
  width: 30%;

  ul {
    display: flex;
    list-style-type: none;

    li {
      padding: 0 5px;
    }

    li:before {
      display: none;
    }
  }
}
