/*
======================================
             Footer stuff
======================================
*/

footer {
    display: flex;
    padding: 50px;
    background-color: whitesmoke;
    font-size: 14px;

    a, a:visited {
      color: $main-nav-link;
      text-decoration: none;
      transition: color .25s ease;
      background: none;
    }

    a:hover {
      color: $main-nav-link-hover;
    }

    a:active {
      color: $main-nav-link-active;
    }
}

#footer-left-column {
  width: 50%;
}

#footer-right-column {
  display: flex;
  width: 50%;
  justify-content: flex-end;

  ul {
    display: flex;
    list-style-type: none;

    li {
      padding: 0 5px;
    }

    li:before {
      display: none;
    }
  }
}
