/*
======================================
Forms styles
======================================
*/

form {
  display: flex;
  flex-direction: column;

  input, textarea {
    background-color: $filled-box-color;
    border: none;
    border-radius: 5px;
    color: $primary-color;
    font-family: $body-font-family;
    font-size: 16px;
    font-weight: 600;
    margin: 5px 0;
    padding: 25px 20px;
    transition: all 250ms ease;
  }

  input:hover, textarea:hover {
    background-color: darken($filled-box-color, 5%)
  }

  input:focus, textarea:focus {
    //border-color: transparent;
  }

  button {
    margin-top: 25px;
    max-width: 200px;
  }
}
